<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
      <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <title>Grotesque</title>
    <script type="module" crossorigin src="/Grotesque/assets/index-D4IohEAm.js"></script>
    <link rel="stylesheet" crossorigin href="/Grotesque/assets/index-JJsLC1o2.css">
  </head>
  <body>
    <header class="header" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.header.partial.html"></header>
    <section class="aims" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.aims-section.partial.html"></section>
    <section class="introduce" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.introduce-section.partial.html"></section>
    <footer class="footer container" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/footer/global.footer.partial.html"></footer>
  </body>
</html>
