<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
      <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <title>Grotesque</title>
  </head>
  <body>
    <header class="header" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.header.partial.html"></header>
    <main>
        <section class="aims" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.aims-section.partial.html"></section>
        <section class="introduce" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.introduce-section.partial.html"></section>
        <section class="achievement" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.achievement-section.partial.html"></section>
        <div class="works" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.works-section.partial.html"></div>
        <section class="process" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.process-section.partial.html"></section>
        <section class="approach" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.approach-section.partial.html"></section>
        <div class="attainment">
            <section class="awards container" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.awards-section.partial.html"></section>
            <section class="reviews container" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.reviews-section.partial.html"></section>
        </div>
        <section class="events" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/main-page/main.events-section.partial.html"></section>
    </main>
<!--    <footer class="footer container" data-hx-trigger="load" data-hx-swap="innerHTML" data-hx-get="src/footer/global.footer.partial.html"></footer>-->
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
