
.footer {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
    padding-block: 5.625rem 3.125rem;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}

.footer__info-container {
    margin-inline: auto;
    max-width: 10.5rem;
}

.footer__info-description,
.footer__info-contact {
    font-size: var(--font-size-item);
    line-height: 1.4;
    letter-spacing: normal;
}

.footer__info-contact {
    font-style: italic;

    & a {
        color: var(--corn-yellow);
    }
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;

    & > li {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}


.footer__list-item {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
}

.footer__list-item-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.125rem;
    height: 3.125rem;
    background-color: var(--social-icon);
    border-radius: 50%;

    & > svg {
        width: 1.625rem;
        height: 1.625rem;
        fill: var(--carmine);
    }
}

.footer__list-item-info-container {
    & > p {
        font-size: var(--font-size-social);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1375em;
        line-height: 0.9625;
        margin-bottom: 0.25rem;
    }

    & > a {
        color: var(--white);
        font-size: var(--font-size-footer-social);
        font-weight: 700;
        line-height: 0.9625;
    }
}

