@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');


:root {
    /* Font Family */
    --font-primary: Lato;
    --font-secondary: Ubuntu;
    /* Font Size */
    --font-size-default: 1.0625rem;
    --font-size-section-h1: 3.25rem;
    --font-size-section-h1-tablet: 4.3125rem;
    --font-size-section-h1-desktop: 5rem;
    --font-size-section-h2: 2.125rem;
    --font-size-section-h2-tablet: 2.5625rem;
    --font-size-section-h2-desktop: 3rem;
    --font-size-section-h3: 1.375rem;
    --font-size-section-h3-tablet: 1.4375rem;
    --font-size-section-h3-desktop: 1.5rem;
    --font-size-section-description: 1.1875rem;
    --font-size-list-item-h3-title: 0.6875rem;
    --font-size-button: 0.9375rem;
    --font-size-item: 0.875rem;
    --font-size-footer-social: 1.125rem;
    --font-size-process-section-span: 2.7rem;
    --font-size-sections-default-span: 3.9rem;
    --font-size-sections-default-span-laptop: 5rem;
    --font-size-introduce-section-span: 3.9rem;
    --font-size-introduce-section-span-laptop: 5rem;

    /* ========Colors======== */
    /* Main colors */
    --main-text-color: #b4b4b4;
    --main-bg-color: #1d1d24;
    /* Header colors */
    --header-link-color: #ffffff;
    --header-link-hover-color: #f2b950;
    --header-socials-color: #f2b950;
    --header-socials-hover-color: #c7973f;
    --header-title-color: #ffffff;
    --header-burger-button-color: #ffffff;
    --header-hero-btn-color: #ffffff;
    --header-hero-btn-f-color: #aa2039;
    --header-hero-btn-s-color: #f2b950;
    /* Aim section colors */
    --aim-section-title-color: #ffffff;
    --aim-section-list-item-bg-color: #23232b;
    --aim-section-icon-container-bg-color: #272730;
    --aim-section-icon-fill-color: #aa2039;
    --aim-section-item-title-color: #ffffff;
    --aim-section-item-element-bg-color: #aa2039;
    --aim-section-span-text-color: #272730;
    /* Introduce section colors */
    --introduce-section-title-color: #ffffff;
    --introduce-section-text-color: #a5a5a5;
    --introduce-section-btn-text-color: #ffffff;
    --introduce-section-btn-f-color: #aa2039;
    --introduce-section-btn-s-color: #f2b950;
    /* Achievement section colors */
    --achievement-title-color: #ffffff;
    --achievement-section-text-color: #a5a5a5;
    --achievement-section-span-text-color: #f2b950;
    --achievement-section-item-element-bg-color: #aa2039;
    /* Works section colors */
    --works-section-title-color: #ffffff;
        /* Services section colors */
    --service-section-list-item-title-color: #ffffff;
    --service-section-list-item-type-color: #f2b950;
    --service-section-btn-bg-color: #ffffff;
    --service-section-btn-fill: #ffffff;
        /* Cases section colors */
    --cases-list-item-background-color: #1d1d24;
    --cases-list-item-info-subtitle-color: #f2b950;
    --cases-list-item-info-title-color: #ffffff;
    --cases-list-item-info-text-color: #a5a5a5;
    --cases-list-item-info-button-text-color: #ffffff;
    --cases-list-item-info-btn-f-color: #aa2039;
    --cases-list-item-info-btn-s-color: #f2b950;
    /* Process section colors */
    --process-section-title-color: #ffffff;
    --process-section-list-item-background-color: #23232b;
    --process-section-list-item-subtitle-color: #f2b950;
    --process-section-list-item-title-color: #ffffff;
    --process-section-list-item-text-color: #a5a5a5;
    --process-section-span-text-color: #272730;
    /* Approach section colors */
    --approach-section-info-title-color: #ffffff;
    --approach-section-info-subtitle-color: #d6d6d6;
    --approach-section-info-text-color: #ffffffa6;
    --approach-section-list-item-image-background-color: #1d1d24ab;
    --approach-section-list-item-svg-fill: #f2b950;
    --approach-section-list-item-info-title-color: #ffffff;
    --approach-section-list-item-info-text-color: #ffffffa6;
    /* Awards section colors */
    --awards-section-title-color: #ffffff;
    --awards-section-item-element-bg-color: #23232b;
    --awards-section-list-item-img-container-bg-color: #272730;
    --awards-section-list-item-image-fill: #f2b950;
    --awards-section-list-item-text-color: #a5a5a5;

    --white: #ffffff;
    --silver: #b4b4b4;
    --corn-yellow: #f2b950;
    --carmine: #aa2039;
    --dark-charcoal: #1d1d24;
    --social-icon: #23232b;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-primary), sans-serif;
    font-size: var(--font-size-default);
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}


.container {
    padding-inline: 1.5rem;
}

@media (min-width: 48em) {
    .container {
        padding-inline: 2rem;
    }
}

@media (min-width: 64em) {
    .container {
        max-width: 64rem;
        margin-inline: auto;
        padding-inline: 2.5rem;
    }
}

@media (min-width: 100rem) {
    .container {
        max-width: 90.3125rem;
    }
}

