@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');


:root {
    /* Font Family */
    --font-primary: Lato;
    --font-secondary: Ubuntu;
    /* Font Size */
    --font-size-default: 1.0625rem;
    --font-size-section-h2: 3.625rem;
    --font-size-section-h3: 2.125rem;
    --font-size-section-h4: 1.375rem;
    --font-size-section-description: 1.1875rem;
    --font-size-social: 0.6875rem;
    --font-size-button: 0.9375rem;
    --font-size-item: 0.875rem;
    --font-size-footer-social: 1.125rem;

    /* Colors */
    --white: #ffffff;
    --silver: #b4b4b4;
    --corn-yellow: #f2b950;
    --carmine: #aa2039;
    --dark-charcoal: #1d1d24;
    --social-icon: #23232b;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-primary), sans-serif;
    font-size: var(--font-size-default);
    color: var(--silver);
    background-color: var(--dark-charcoal);
}

.container {
    margin-inline: auto;
    padding-inline: 1.5rem;
}

