.works {
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
    padding-block: 5.625rem;
    background-image: url("/img/works-section-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
    background-attachment: fixed;

    @media (min-width: 48rem) {
        padding-block: 6.875rem;
        background-position: left center;
    }

    @media (min-width: 64rem) {
        padding-block: 8.125rem;
    }

    .services,
    .cases {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.1875rem;
        isolation: isolate;
        clip-path: inset(0 2px 0 2px);

        > span {
            display: none;

            @media (min-width: 48rem) {
                display: block;
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                color: var(--aim-section-span-text-color);
                font-family: var(--font-secondary), sans-serif;
                font-size: var(--font-size-sections-default-span);
                font-weight: 500;
                line-height: 1.29;
                z-index: -1;
                margin-inline: auto;
                cursor: default;
            }

            @media (min-width: 64rem) {
                width: 31.25rem;
                font-size: var(--font-size-sections-default-span-laptop);
                left: 54%;
            }
        }

        .service__btn--next,
        .service__btn--prev {
            position: absolute;
            width: 2.5rem;
            height: 2.5rem;
            background-color: transparent;
            border: none;

            > svg {
                width: 1.25rem;
                height: 1.25rem;
                fill: var(--service-section-btn-fill);
            }

        }

        .service__btn--prev {
            top: 60%;
            left: 0;
            transform: translateY(-50%);
        }

        .service__btn--next {
            top: 60%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    .services__title,
    .cases__title {
        color: var(--works-section-title-color);
        font-family: var(--font-secondary), sans-serif;
        font-size: var(--font-size-section-h2);
        font-weight: 500;
        line-height: 1.29;

        @media (min-width: 48rem) {
            font-size: var(--font-size-section-h2-tablet);
        }

        @media (min-width: 64rem) {
            font-size: var(--font-size-section-h2-desktop);
        }
    }

    .services__text,
    .cases__text {
        font-size: var(--font-size-section-description);
        font-weight: 700;
        line-height: 1.47;
        text-align: center;
    }


    .services__list-container {

        width: 100%;
        overflow: hidden;

        .service__list {
            position: relative;
            /*min-width: 0;*/
            /*width: 100%;*/
            display: flex;
            align-items: stretch;
            gap: 1.875rem;
            transition: transform 250ms ease;
            justify-content: flex-start;


            .service__list-item {
                min-width: 0;
                flex: 0 0 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1.25rem;

                @media (min-width: 48rem) {
                    flex: 0 0 calc((100% - 1.875rem) / 2);
                }

                @media (min-width: 64rem) {
                    flex: 0 0 calc((100% - 3.75rem) / 3);
                }

                .service__list-item-image {
                    aspect-ratio: 3 / 2;
                    border-radius: 2.5rem;
                    overflow: hidden;

                    > img {
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .service__list-item-title {
                    color: var(--service-section-list-item-title-color);
                    font-size: var(--font-size-section-h3);
                    font-weight: 400;
                    line-height: 1.3;
                }

                .service__item-list {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    list-style-type: disc;
                    padding-left: 1.25rem;

                    .service__item-point::marker {
                        color: var(--service-section-list-item-type-color);
                    }

                }
            }

        }
    }
    .cases__list {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;

        .cases__list-item {
            display: grid;
            grid-template-columns: 1fr;
            border-radius: 1rem;
            overflow: hidden;

            @media (min-width: 48rem) {
                grid-template-columns: repeat(2, 1fr);
            }

            .list-item-img {
                > img {
                    height: 100%;
                    object-fit: cover;
                }
            }

            .list-item-info {
                background-color: var(--cases-list-item-background-color);
                display: flex;
                flex-direction: column;
                gap: 1.5625rem;
                padding: 2.9375rem 2.6875rem;

                @media (min-width: 48rem) {
                    padding: 3.625rem 3.25rem;
                }

                @media (min-width: 64rem) {
                    padding: 5rem 4.375rem;
                }

                .info-subtitle {
                    color: var(--cases-list-item-info-subtitle-color);
                    font-size: var(--font-size-list-item-h3-title);
                    font-weight: 700;
                    line-height: 1.4;
                    letter-spacing: 0.1375rem;
                    text-transform: uppercase;
                }

                .info-title {
                    color: var(--cases-list-item-info-title-color);
                    font-size: var(--font-size-section-h3);
                    font-weight: 400;
                    line-height: 1.3;

                    @media (min-width: 48rem) {
                        font-size: var(--font-size-section-h3-tablet);
                    }

                    @media (min-width: 64rem) {
                        font-size: var(--font-size-section-h3-desktop);
                    }
                }

                .info-text {
                    color: var(--cases-list-item-info-text-color);
                    line-height: 1.53;
                }

                .info-button {
                    font-size: var(--font-size-button);
                    font-weight: 700;
                    color: var(--cases-list-item-info-button-text-color);
                    padding: 1.3125rem 2.125rem;
                    background-image: linear-gradient(90deg, var(--cases-list-item-info-btn-s-color), var(--cases-list-item-info-btn-f-color));
                    background-position: 50% 50%;
                    align-self: flex-start;
                    border: none;
                    border-radius: 1.875rem;
                    cursor: pointer;

                    &:hover {
                        background-image: linear-gradient(180deg, var(--cases-list-item-info-btn-s-color), var(--cases-list-item-info-btn-f-color));
                    }
                }

            }
        }
    }
}



